@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:300,400|Crimson+Text|Gentium+Basic|Karma:300,400|Neuton');

/* font-family: 'Cormorant Infant', serif;  */
/* font-family: 'Crimson Text', serif;  */
/* font-family: 'Gentium Basic', serif;  */
/* font-family: 'Karma', serif; ziemlich trendy, bisschen cool, weniger klassisch, sachlicher/härter, modern */ 
/* font-family: 'Neuton', serif;  */



/* ********* universalselektor ************************************ */
*{ 
    margin: 0;
    padding: 0;
    
}


body{
    margin: 0 auto;
    width: 90%; 
    height: auto;
    font-family: 'Cormorant Infant', serif;
    color: #fafafa;
    
/* ********* hintergrundbild ************************************ */

    
}


html { 
  background: url(/img/SchlossNymphenburg3-2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-size: cover;
}

/* *********  
alternative: im html-element > nice!
html { 
  background: url(/img/SchlossNymphenburg3-2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

im body > hängt beim skalieren und das format passt immer nicht...
    background-image: url(/img/SchlossNymphenburg3-2.jpg);
    background-color: #fafafa;
    background-size: 100%;
    background-repeat: no-repeat;


************************************ */




/* ********* headlines ************************************ */
h1{
    margin: 50px 50px 10px 50px;
    border: ;
    padding: 20px 20px 20px 20px;
    font-size: 60px;
    color: #1e6aac;
    background-color: rgba(250, 250, 250, 0.60);
    text-align: center;
    
}


h2{
    margin: 0px 50px 10px 50px;
    border: ;
    padding: 20px 20px 20px 20px;
    font-size: 30px;
    color: #1e6aac;
    background-color: rgba(250, 250, 250, 0.60);
    text-align: center;
}


/* ********* navigation mit ul ************************************ */
nav li{
    margin: 20px 50px;
    border: ;
    padding: 5px 20px 5px 20px;
    background-color: rgba(250, 250, 250, 0.60);
    display: inline;
}


ul{
    list-style: none;
}

/* ********* navigation mit div ************************************ */
nav div{
    margin: 20px 50px;
    border: ;
    padding: 5px 20px 5px 20px;
    background-color: rgba(250, 250, 250, 0.60);
}

div{
    color: #1e6aac;
}

.grpelem{
    display: inline;
    float: left;
}


a{
    font-family: ;
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(250, 250, 250, 0.60);
    color: #1e6aac;
    border: ;
    padding: ;
    margin: ;
    display:;
}

a:hover{
    background-color: #eaf0ef;
}


/* ... */



p{
    font-size: 20px;
    margin: ;
    background-color: rgba(250, 250, 250, 0.60);
}